@{
    ViewData["Title"] = "Home Page";
}

<div class="input-group mb-3">
    <input type="text" class="form-control" id="descricao" placeholder="Buscar Produtos" arial-label="Buscar Produtos" arial-describedby="button-addon2" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="buscar">Buscar</button>
    </div>
</div>



<div class="row" id="DivVenda">

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>